@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(104, 185, 199);
  color:black;
  text-align: center;
  margin-top: 80px;
}
